<?php include HEADER_PATH; ?>
<style type="text/css">
    .margin-row {
        margin: 20px auto;
    }

    .footer {
        width: 100%;
        margin: 0 auto;
        /*position: relative;*/
        /*top: 90px;*/
    }

    #content {
        height: 750px;
        position: relative;
    }

    .pagination {
        position: absolute;
        bottom: 0;
    }
</style>
<div class="container" id="content">
    <div class="row">
        <?php include 'menu_left.html'; ?>
        <div class="col-md-10 remove">
            <div class="row">
                <div class="col-md-2"><h4>文章id</h4></div>
                <div class="col-md-4"><h4>标题</h4></div>
                <div class="col-md-2"><h4>所属分类</h4></div>
                <div class="col-md-2"><h4>所属类别</h4></div>
                <div class="col-md-2"><h4>操作</h4></div>
            </div>
            <?php foreach($list as $k=>$v){?>
            <div class="row margin-row click_<?php echo $v['id'];?>">
                <div class="col-md-2"><?php echo $v['id']?></div>
                <div class="col-md-4"><a
                        href="http://<?php echo $_SERVER['HTTP_HOST'].'/'.$v['id']?>"><?php echo $v['title']?></a></div>
                <?php foreach($group as $gk=>$gv){
                if($gv['id'] == $v['gid']){
                ?>
                <div class="col-md-2"><?php echo $gv['name']?></div>
                <?php }
                }?>
                <?php foreach($group as $ck=>$cv){
                if($cv['id'] == $v['cid']){
                ?>
                <div class="col-md-2"><?php echo $cv['name']?></div>
                <?php }
                }?>
                <div class="col-md-2"><a
                        href="javascript:articleAct('edit',<?php echo $v['id']; ?>,document.getElementsByClassName('click_<?php echo $v['id'];?>'));">编辑</a>&nbsp;&nbsp;<a
                        href="javascript:articleAct('del',<?php echo $v['id']; ?>,document.getElementsByClassName('click_<?php echo $v['id'];?>'));">删除</a>
                </div>
            </div>
            <?php }?>
        </div>
    </div>
    <div class="row">

        <ul class="pagination">

            <?php if(($page->nowPage-1) <= 0){?>
            <li class="disabled">
                <a href="javascript:void(0);" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <?php }else{?>
            <li>
                <a href="article?p=<?php echo $page->nowPage-1;?>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <?php }?>

            <?php for($i=1;$i<= $page->page;$i++){ ?>
            <li><a href="article?p=<?php echo $i;?>">5</a></li>
            <?php } ?>
            <?php if(($page->nowPage) >= $page->page){?>
            <li class="disabled">
                <a href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
            </li>
            <?php }else{?>
            <li>
                <a href="article?p=<?php echo $page->nowPage+1;?>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <?php }?>
        </ul>
    </div>
</div>
<script type="application/javascript">
    function articleAct(a, d, obj) {
        var removeObj = document.getElementsByClassName('remove');
        if (a == 'edit') {
            window.location.href = "/member/index/modify?id="+d ;
        } else if (a == 'del') {
            $.get('articleAct', {"act": a, "id": d}, function (data) {
                if (data.status == 1) {
                    if (a == 'del') {
                        for (var i = 0; i < removeObj[0].childNodes.length; i++) {
                            console.log(removeObj[0].childNodes[i]);
                            if (removeObj[0].childNodes[i] == obj[0]) {
                                removeObj[0].removeChild(removeObj[0].childNodes[i]);
                            }
                        }
                    }
                }else {
                    alert(data.message);
                }
            }, 'json');
        }
    }
</script>

<?php include FOOTER_PATH; ?>