<?php include HEADER_PATH; ?>
<!-- ueditor include start -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<!-- ueditor include end -->
<style type="text/css">

    #container {
        /*height: 300px;*/
        width: 600px;
        z-index: 0;
        margin: 10px auto;
    }

    .submit {
        width: 600px;
        margin: 10px auto;
    }

    #submit {
        float: right;
    }
</style>

<div class="container">
    <div class="row">
        <?php include 'menu_left.html'; ?>
        <div class="col-md-8">

            <form action="/member/index/saveContent" method="post">
                <script id="container" name="content" type="text/plain">
        这里写你的初始化内容

                </script>
                <div class="submit">
                    <button type="submit" id="submit" class="btn btn-primary" autocomplete="off">
                        提交
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
<?php include FOOTER_PATH; ?>
