<?php include HEADER_PATH?>
<style type="text/css">
    body{
        text-align: left;
    }
    .page-header h1{
        text-align: center;
    }
    .page-footer h6 {
        margin-top: 5px;
        float: right;
    }
    .page-footer h5 {
        margin-top: 5px;
        float: left;
    }
    .clear{
        clear: both;
    }
    .page-footer{
        border-top:1px solid #eeeeee;
        margin-top: 10px;
        height:20px;

    }
    .footer{
        text-align: center;
    }
    .page{
        min-height: 100px;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1><?php echo $content['title'];?></h1>
        <div class="page-footer">
            <h5 ><a href="/index/index/articleList/g/<?php echo $group['id']?>"><?php echo $group['name']?></a>>><a href="/index/index/articleList/g/<?php echo $category['id']?>"><?php echo $category['name']?></a></h5>
            <h6><?php
        $time = ($content['save_time'] != 0)?$content['save_time']:$content['add_time'];
        echo date('Y-m-d H:i',$time);
        ?></h6>
        </div>
    </div>
    <div class="page">
        <?php echo $content['content'];?>
    </div>

</div>
<?php include FOOTER_PATH?>