<style type="text/css">
    .col_default ul li{
        text-decoration: none;
        color: #333;
        font-size: 1.2em;
        font-weight: 400;
        font-family: "Microsoft YaHei" , "Microsoft JhengHei" ,"STHeiti Light";
        padding: 8px 0 0 0;
        width: 103px;
        height: 37px;
        background: #fff;
        margin: 0 auto;
        transform: skew(-10deg);
        -o-transform: skew(-10deg);
        -moz-transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
    }
    .col_default nav a {
        color:#000;
    }
    .col_default ul li a:hover, .col_default ul li a.active {
        background: #333;
        color: #fff;
    }
</style>
<div class="col-md-2 col_default ">
    <ul class="list-unstyled">
        <nav>
            <li><a href="">文章管理</a></li>
            <li><a href="">分类管理</a></li>
            <li><a href="">用户管理</a></li>
            <li><a href="">系统信息</a></li>
        </nav>
    </ul>
</div>