<?php include (__DIR__.'/../public/header.html');?>
<link rel="stylesheet" href="./css/swiper.min.css">
<style type="text/css">
    .content {
        text-align: center;
        font-family:"Regular";
    }
    .swipebox_1{
        background:url("./img/banner-1.jpg") no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 780px;
    }
    .swipebox_2{
        background:url("./img/banner-2.jpg") no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 780px;
    }
    .swipebox_3{
        background:url("./img/banner-3.jpg") no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 780px;
    }

</style>
<div class="swiper-container content">
   <div class="swiper-wrapper">
       <div class="swipebox_2 swiper-slide"><h1>贾俊新的主页</h1></div>
       <div class="swipebox_1 swiper-slide"></div>
       <div class="swipebox_3 swiper-slide"></div>
   </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<script src="./js/swiper.jquery.min.js"></script>
<script language="javascript">
        var swiper = new Swiper('.swiper-container',{
            initialSlide :0,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            pagination: '.swiper-pagination',
        })

</script>
<?php include (__DIR__.'/../public/footer.html'); ?>
