<?php include HEADER_PATH; ?>
<link rel="stylesheet" href="./css/swiper.min.css">
<style type="text/css">
    .content {
        text-align: center;
        font-family:"Regular";
    }
    .swipebox_1{
        background:url("./img/banner-1.jpg") no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 780px;
    }
    .swipebox_2{
        background:url("./img/banner-2.jpg") no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 780px;
    }
    .swipebox_3{
        background:url("./img/banner-3.jpg") no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 780px;
    }

</style>
<div class="swiper-container content">
   <div class="swiper-wrapper">
       <div class="swipebox_2 swiper-slide"><!--<h1><a href="index">欢迎来到Peak的主页</a></h1>--></div>
       <div class="swipebox_1 swiper-slide"></div>
       <div class="swipebox_3 swiper-slide"></div>
   </div>
    <div class="swiper-pagination"></div>
</div>
<script src="./js/swiper.jquery.min.js"></script>
<script language="javascript">
        var swiper = new Swiper('.swiper-container',{
            initialSlide :0,
            pagination: '.swiper-pagination',
            slidesPerView: 1,
            paginationClickable: true,
            mousewheelControl: true,
        })

</script>
<?php include FOOTER_PATH; ?>
